
#-----------------------------------------------------------------------------#
# Ignore everything by default:
#-----------------------------------------------------------------------------#

/*
/*/


#-----------------------------------------------------------------------------#
# But allow those files and folders:
#-----------------------------------------------------------------------------#

!.editorconfig
!.eslintrc.json
!.flowconfig
!.gitattributes
!.gitignore
!README.md

!/src
!/helpers
!/package.json
!/mocha-babel-hook.js
!/nyc-babel-hook.js
!/webpack.config.js


#-----------------------------------------------------------------------------#
# But make sure to ignore those regardless:
#-----------------------------------------------------------------------------#

.DS_Store
